@import "var.scss";

/*Responsive*/
@media(max-width:768px) {

    /*Barra de navegación responsive*/
    .container-fluid {
        a {
            margin-left: 2vw !important;
        }
    }
    nav {
        display: flex;
        padding: 0%;
        order: 2;

        ul {
            flex-wrap: wrap;
            height: auto;
            padding: 2%;
        }
    }

    .logo {
        margin-bottom: 2vh;

        a {
            justify-content: flex-start;
        }

        img {
            border-radius: 6vh;
        }
    }

    .barraDeBusqueda {
        width: 100%;
        order: 3;

        input {
            border-radius: 5vh;
        }

        div a {
            display: none;
        }
    }

    .barra {
        width: 70%;
        height: 9vh;
        margin-bottom: 3vh;
    }

    .btnBusqueda {
        margin-bottom: 3vh
    }

    .miCuenta {
        display: none;
    }

    .carrousel {
        height: 80vw;
        margin-top: 2vh;
        border-top: none;

        img {
            height: auto;
            width: 80vw;
        }

        button {
            font-size: 0;
        }
    }

    /*Barra desplegable*/
    .menuIndex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        background-color: $colorAzul;

        li {
            height: auto;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 2vh;

            a {
                background-color: #f9f7f7;
                height: 11vh;
                width: 28vw;
                border-radius: 2vh;
                padding: 2vh;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 6vh;
                    width: 13vw;
                }
            }
        }
    }

    /*Fin barra*/
    //BoostrapResponsive
    .logoFarol {
        height: 10vh;
        width: 18vw;
    }

    .opcionesDeBusqueda {
        display: none;
    }

    .btn {
        display: none;
    }

    .busquedaTextbox {
        display: none;
    }


    /*Barra sugerencias*/
    .sugerenciasNav {
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: 10vh 10vh;
    }

    .sugerenciasNavLogo {
        grid-column: 2;
    }

    .sugerenciasNavTitulo {
        grid-row: 2;
    }

    .sugerenciasNavVolver {
        display: none;
    }

    .sugerenciasNavImg {
        border-radius: 5vh;
        height: 7vh;
    }

    .menuSugerencia {
        display: flex;
        justify-content: center;
        align-self: center;
        grid-column: 9;
        height: 7vh;
    }

    /*Barra sugerencias fin*/
    /*Fin Barra de navegación responsive*/
    /*Main responsive*/
    .indexMain {
        margin-bottom: 0;
        flex-wrap: wrap;

        div {
            width: 80%;
            height: auto;
            margin-bottom: 8vh;
        }
    }

    .ofertas {
        height: auto;

        a {
            width: 100%;
            height: auto;

            h2 {
                width: 100%;
                height: 8vh;
            }

            img {
                width: auto;
                height: 18vh;
                margin-bottom: 0;
                margin-top: 4vh;
            }
        }

    }


    .cuenta {
        height: auto;

        a {
            width: 100%;
            height: auto;

            h1 {
                width: 100%;
                height: 8vh;
            }

            img {
                width: auto;
                height: 18vh;
                margin-bottom: 0;
                margin-top: 4vh;
            }
        }
    }


    .envio {
        height: auto;

        a {
            width: 100%;
            height: auto;

            h2 {
                width: 100%;
                height: 8vh;
            }

            img {
                width: auto;
                height: 18vh;
                margin-bottom: 0;
                margin-top: 4vh;
            }
        }
    }

    /*Contacto*/
    .contactoMain {
        width: 99vw;
        height: auto;
        margin-bottom: 6vh;
    }

    .contactoSection {
        height: auto;
    }

    .contactoHorario {
        height: 25vh;
        padding: 4%;
    }

    .informacionContacto {
        width: 80%;
        height: 10vh;
    }

    .ubicacionContacto {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;

        iframe {
            width: 80%;
            height: 25vh;
        }
    }


    .contactoInfo {
        flex-wrap: wrap;
        height: auto;
        padding: 4%;
    }

    .informacionContacto {
        h3 {
            margin-bottom: 3vw;
        }
    }

    .miCuentaContacto {
        a {
            margin-right: 0;
            height: 10vh;
            width: 22vw;
            margin-bottom: 3vh;
            font-size: 2vw;
        }
    }

    /*Contacto*/
    /*Nuevo Usuario*/
    .nuevoUsuarioMain {
        flex-wrap: wrap;
    }

    .nuevoUsuarioSection {
        width: 80%;
        height: auto;
        margin: 3%;

        div {
            width: 100%;
            height: 50vh;
            margin-bottom: 0;
        }
    }

    .nuevoUsuarioSection .formularioIngreso {
        @include flex-style;
        width: 100%;
        height: auto;
        margin-top: 2vh;

        input {
            height: 8vh;
            border-radius: 5vh;
            padding: 2%;
            margin-top: 2vh;
        }
    }

    .nuevoUsuarioImg {
        width: 80%;

        div {
            width: 100%;
            margin-right: 0;
            img{
                width: 35vw;
            }
        }
    }
    .fs-3vw{
        font-size: 3vw !important;
    }
    /*Nuevo Usuario fin*/
    /*Busqueda*/
    /*Barra Busqueda*/
    .busquedaDN {
        display: flex;
    }

    .carritoBusqueda {
        a {
            margin-right: 0;
            height: 10vh;
            width: 22vw;
            margin-bottom: 3vh;
            font-size: 2vw;
        }
    }

    .miCuentaBusqueda {
        a {
            margin-right: 0;
            height: 10vh;
            width: 22vw;
            margin-bottom: 3vh;
            font-size: 2vw;
        }

    }

    /*Busqueda Main*/
    .busquedaMain {
        height: auto;
        justify-content: flex-start;

        aside {
            display: none;
            width: 35%;
            height: 75vh;
        }

        section {
            width: 100%;
            height: auto;
            margin-top: 2vh;

            div {
                width: 60%;
                height: auto;
                align-items: baseline;

                figure {
                    height: auto;

                    img {
                        margin-top: 1vh;
                        height: 30vh;
                    }

                    figcaption {
                        height: 6vh;
                    }
                }

            }

            .articuloEliminado {
                display: none;
            }
        }
    }


    /*Busqueda fin*/
    /*Ingreso Usuarios*/
    /*Comienzo Ingreso Usuario barra*/
    .mr-5 {
        margin-right: 0;
    }

    /*Fin Ingreso Usuario barra*/
    .usuarioSection {
        form input {
            border-radius: 5vh;
            width: 80%;
        }

        div {
            border-radius: 7vh;
            height: 25vh;

            img {
                height: 20vh;
                width: 30vw;
            }
        }

    }

    /*Ingreso Usuarios fin*/
    /*Main sugerencias*/
    .sugerenciasMain {
        width: auto;
        margin: auto;

        .sugerenciasMainFormulario {
            grid-template-columns: auto;
            grid-template-rows: 20vh 14vh 14vh 14vh 14vh 30vh 14vh;

            .inputSugerencia {
                height: 10vh;
                width: 56vw;
                border-radius: 4vh;
                margin: auto;
            }

            .sugNombre {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row: 2;
            }

            .sugApellido {
                grid-column: 1;
                grid-row: 3;
            }

            .sugTel {
                grid-column: 1;
                grid-row: 4;
            }

            .sugEmail {
                grid-column: 1;
                grid-row: 5;
            }

            .inputSugerenciaBoton {
                grid-row: 7;
                grid-column: 1;
                width: 58vw;
                border-radius: 4vh;
                margin: auto;
            }

            .inputSugerenciaTextBox {
                grid-column: 1;
                grid-row: 6;
                border-radius: 4vh;
                margin: auto;
            }

        }
    }

    /*Main sugerencias fin*/
    /*Main responsive*/
    /*Comienzo main Nosotros*/
    .nosotrosSection {
        width: 100%;

        a {
            border-radius: 6vh;
        }
    }

    /*Fin main Nosotros*/
    /*footer responsive*/
    footer ul li a {
        width: auto;
        padding: 4%;
        border-radius: 3vh;
    }

    .redes {
        ul {
            flex-wrap: wrap;
            flex-direction: row;

            li {
                a {
                    img {
                        width: 28vw;
                        height: 6vh;
                    }
                }
            }
        }

        .otrasSecciones {
            li {
                a {
                    width: 33vw;
                    height: 7vh;
                    font-size: 3.5vw;
                }
            }
        }
    }

    .elementoEliminado {
        display: none !important;
    }

    /* fin footer responsive*/
    //error page
    .bg-error {
        width: 24vw;
        height: 6vh;
    }

    //erro fin
}