/*Comienzo de barra Nosotros*/

/*Fin de barra Nosotros*/
/*Comienzo de main Nosotros*/
.nosotrosMain {
    @include box-size(100%, auto, space-evenly, center);
    margin-bottom: 12vh;
}

.nosotrosSection {
    @include box-size(50%, 100%, space-evenly, center);
    align-content: center;
    padding: 2%;
    flex-wrap: wrap;

    h2 {
        width: 80%;
        height: 5%;
        text-align: center;
        margin-bottom: 11%;
        font-size: 5vh;
    }

    p {
        width: 80%;
        height: auto;
        font-size: 2.5vh;
        margin-top: 2vh;
        text-align: justify;
    }

    img {
        width: 100%;
        height: 80%;
    }

    a {
        @include flex-style;
        background-color: $colorBlanco2;
        width: 50%;
        height: 10vh;
        border: solid $colorNegro 1px;
    }

    h1 {
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
}

/*Fin de main Nosotros*/