* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color:$colorNegro;
}

/*Comienzo de barra de navegacion*/
nav {
  display: flex;
  padding: 1%;
  background-color:$colorAzul;

  ul {
    display: flex;
    width: 100%;
    height: 5em;

    li {
      list-style: none;

      a {
        background-color:$colorBlanco;
        text-align: center;
      }
    }
  }
}

.menuDesplegable {
  display: none;
}

.logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.logo a {
  background-color:$colorAzul;
  @include flex-style;
}

.logo img {
  width: 40%;
  margin-left: 2em;
  border-radius: 2vh
}

.barraDeBusqueda {
  width: 50%;
  @include flex-style;
  flex-wrap: wrap;
}

.barra {
  width: 80%;
  height: 3em;
  padding: 1%;
}

.btnBusqueda {
  width: 20%;
  height: 3em;
}

.barraDeBusqueda div {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.barraDeBusqueda div a {
  width: 48%;
  height: 2em;
  padding-top: 1px;
  @include flex-style;
}

.miCuenta {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    width: 40%;
    height: 5em;
    margin-right: 1em;
    @include flex-style;
    border-radius: 4vh;
    background-color: $colorBlanco;

    img {
      width: 100%;
      height: 80%;
    }
  }
}

//BoostrapPorpiedades
.bg-blue {
  background-color: $colorAzul;
}

.logoFarol {
  width: 8vw;
  height: 12vh;
  border-radius: 3vh;
}

.busquedaTextbox {
  width: 34.5vw;
}
.opcionesDeBusqueda {
  margin-top: 2vh;
  display: flex;

  a {
    background-color: $colorBlanco;
    text-align: center;
    width: 20vw;
    height: 5vh;
    padding-top: 1px;
    @include flex-style;
    border-radius: 1vh;
  }
}
//Fin Boostrap
/*Comienzo del Footer*/
footer {
  background-color:$colorAzulOscuro;

  ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;

    li {
      width: 40%;
      list-style: none;
      display: flex;
      align-items: center;

      a {
        width: auto;
        height: auto;
        margin: 5%;
        padding: 5%;
        text-align: center;
        background-color:$colorBlanco;
        display: flex;
      }
    }
  }
}

.accessLeft {
  margin-left: 2vw;
}

.accessCenter {
  justify-content: center;
}

.accessRight {
  justify-content: flex-end;
  margin-right: 2vw;
}

/*Fin del Footer*/
/*Animacion botones3D*/
.animacion-crecer:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.animacion-cambio-color:hover{
color: $colorAzul;
}

/*Fin Animacion botones3D*/