*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  /*Comienzo de barra de navegacion*/
  nav {
    display: flex;
    padding: 1%;
    background-color: #3f72af;
        ul {
            display: flex;
            width: 100%;
            height: 5em;
            li {
                list-style: none;
                a {
                    background-color: #f9f7f7;
                    text-align: center;
                  }
              }
        }
  }

.menuDesplegable{
    display: none;
}
.logo {
    width: 30%;
    display: flex;
    justify-content: flex-start;
  }
  .logo a {
    background-color: #3f72af;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    width: 40%;
    margin-left: 2em;
    border-radius: 2vh
  }
  .barraDeBusqueda {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .barra {
    width: 80%;
    height: 3em;
    padding: 1%;
  }
  .btnBusqueda {
    width: 20%;
    height: 3em;
  }
  .barraDeBusqueda div {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .barraDeBusqueda div a {
    width: 48%;
    height: 2em;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .miCuenta {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
        width: 35%;
        height: 5em;
        margin-right: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4vh;
        img{
        width: 100%;
        height: 80%;
        }
    }
  }
//propiedades perdidas
.flexStart {
  justify-content: flex-start;
}
.formularioIngreso {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
      width: 100%;
      height: 4%;
  }
}